<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
                <remove fileExtension=".woff" />
                <remove fileExtension=".woff2" />
                <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
                <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            </staticContent>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <!--<aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments=".\VPBANK.RMD.API.IFRS9.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />-->
            <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" requestTimeout="00:20:00" hostingModel="outofprocess" />
        </system.webServer>
    </location>
</configuration>
<!--ProjectGuid: 923e89da-7028-4a6c-a1e1-1ee89f2d3e8c-->